header, main {
 display: flex;
 flex-direction: column;
 align-items: center;
}

button {
    width: 80px;
    color: brown;
    background-color: cyan;
    font-size: arial;
    border-radius: 20px;
}

.botao:hover{
    background-color: pink;
    cursor: pointer;  
}

.JS {
    color: blueviolet;
    font-size: arial;
}

